install.packages("arules")
install.packages("arulesViz")
library(arules)
library(arulesViz)
setwd("/Users/ritubalani")
getwd()
assocs = read.transactions("transactions.csv", format = "single", sep = ",", cols = c("Transaction", "Product"), rm.duplicates = FALSE)
itemFrequencyPlot(assocs,topN=20,type="absolute")
rules <- apriori(assocs, parameter = list(supp = 0.03, conf = 0.20, minlen = 1))
rules <- sort(rules, by="lift", decreasing=TRUE)
options(digits=2)
inspect(rules)
summary(rules)
redundant_index <- is.redundant(rules)
pruned_rules <- rules[!redundant_index]
inspect(pruned_rules)
summary(pruned_rules)
